extends layout.pug

block content
	div.container.jumbotron
		h1.header= title
		article.item
			form.form(method="post", action="/actualizar/" + data._id)
				input(type="hidden", name="_method", value="PUT")
				input(type="hidden", name="_id", value=data._id.toString())
				fieldset
					div.form-group
						label(for="dominio") Dominio:
						input.form-control#dominio(type="text" name="dominio" placeholder="dominio" value=data.dominio, required)
					div.form-group
						label(for="name") Nombre:
						input.form-control#name(type="text", name="name", placeholder="nombre" value=data.name, required)
					div.form-group
						p Estado:
						div.form-check.form-check-inline
							label.custom-control.custom-radio(for="Activo")
								input.custom-control-input#Activo(type="radio", name="estado", value="true" checked=data.estado)
								span.custom-control-indicator
								span.custom-control-description Activo
						div.form-check.form-check-inline
							label.custom-control.custom-radio(for="Desactivo")
								input.custom-control-input#Desactivo(type="radio", name="estado", value="false" checked=!data.estado)
								span.custom-control-indicator
								span.custom-control-description Desactivo
					div.form-group
						p Alertar:
						div.d-flex.justify-content-start.align-items-center
							div.align-self-center
								span OFF &nbsp;
							div.align-self-center
								label.switch
									input(type="checkbox" name="alerta" checked=data.alerta)
									span.slider.round
							div.txtCenter
								span &nbsp; ON
					div.form-group
						label(for="descripcion") Descripcion:
						input.form-control#descripcion(type="text", name="descripcion", placeholder="descripcion" value=data.descripcion)
					div.form-group
						label(for="servidor") Servidor:
						input.form-control#servidor(type="text", name="servidor", placeholder="servidor" value=data.servidor)
					div.form-group
						label(for="database") Database: 
						input.form-control#database(type="text", name="database", placeholder="database" value=data.database)
					div.form-group
						label(for="software") Software:
						input.form-control#software(type="text", name="software", placeholder="software" value=data.software)
					div.form-group
						label(for="version") Version:
						input.form-control#version(type="text", name="version", placeholder="version" value=data.version)
					div.form-group
						label(for="ipLocal") ipLocal
						input.form-control#ipLocal(type="text", name="ipLocal", placeholder="ipLocal" value=data.ipLocal)
					div.form-group
						label(for="ipPublica") ipPublica
						input.form-control#ipPublica(type="text", name="ipPublica", placeholder="ipPublica" value=data.ipPublica)
					div.form-group
						input.form-control#estatus(type="hidden", name="estatus" value=data.estatus)
				br
				div.d-flex.justify-content-around
					button.btn.btn-primary(type="submit", value="Editar") Guardar
					a.btn.btn-primary(href="/") Cancel